@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .menu-item {
        @apply p-5 inline-block border-b-4 border-white hover: border-yellow-500;
    }
    .mega-sub-item {
        @apply block p-2 hover: text-yellow-500 cursor-pointer;
    }
    .mega-sub-item-title {
        @apply block font-semibold text-xl mb-5;
    }
    .menu-sub-item {
        @apply block p-2 hover: text-yellow-500 cursor-pointer;
    }
}

@layer utilities {
    .sub-dropdown:hover>.sub-dropdown-content {
        opacity: 1;
        visibility: visible;
        top: 10px;
    }
    .sub-dropdown:hover>a {
        color: #f59e0b;
    }
    .megamenuContent {
        height: 30rem;
    }
}